



.introducao-bg {
  background-color: #000;
  color: var(--cor-w);
  box-shadow: inset 0px -120px var(--cor-w);
}

.introducao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 40px;
  padding-left: 20px;
  padding-right: 20px;
}

.introducao-conteudo {
  align-self: flex-end;
  padding-bottom: 300px;
}

.introducao img {
  object-fit: cover;
  height: 100%;
}

.titulo {
  font-size: 64px;
  line-height: 1.125;
  margin-bottom: 32px;
  font-family: 'Poppins';
  font-weight: 600;
}

.titulo span {
  color: #ffbb00;
} 

.introducao-paragrafo {
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 1.5;
  color: var(--cor-5);
}



